<app-header></app-header>

<div class="container-fluid">
  <div class="m-5">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12 mt-4" *ngFor="let data of nonveg">
        <div class="p-4 thumbnail shadow-sm border rounded">

          <!-- Image Section -->
          <div class="image-container text-center">
            <img [src]="data.filePath" (load)="loadImage()" alt="{{ data.productName }}"
              class="img-fluid rounded product-image" onerror="this.onerror=null; this.src='assets/default-image.jpg';" />
          </div>

          <!-- Product Info -->
          <div class="mt-4">
            <h5>Product Name: {{ data.productName }}</h5>
            <h5>Price: ₹{{ data.price }}</h5>
          </div>

          <!-- Action Buttons -->
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-outline-primary" style="width: 100px;" (click)="buy()">
              BUY
            </button>
            <button class="btn btn-outline-success" (click)="post(data)">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>