<app-header></app-header>
<div class="container-fluid bgframe min-vh-100 d-flex align-items-center justify-content-center">
  <div class="border text-center p-4 p-md-5 rounded box imgs">
    <div class="my-3 style mb-4 colour">
      <h1 class="fs-3 fs-md-1">LOGIN</h1>
      <i class="fa-solid fa-user border border-primary border-5 rounded-circle p-2 mt-2 fs-1 font"></i>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="post()" novalidate>
      <!-- Username Input -->
      <div class="input-group mb-4">
        <span class="input-group-text input-style" id="basic-addon1">Username</span>
        <input type="text" class="form-control" formControlName="username" name="username" placeholder="Enter your username" aria-label="Username">
      </div>
      <div *ngIf="userName?.invalid && userName?.touched" class="text-danger">
        <span *ngIf="userName?.errors?.['required']">Username is required.</span>
      </div>

      <!-- Password Input -->
      <div class="input-group mb-4">
        <span class="input-group-text input-style">Password</span>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Enter your password" />
        <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
          <svg id="i-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <circle cx="17" cy="15" r="1" />
            <circle cx="16" cy="16" r="6" />
            <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
          </svg>
        </span>
      </div>
      <div *ngIf="passWord?.invalid && passWord?.touched" class="text-danger">
        <span *ngIf="passWord?.errors?.['required']">Password is mandatory</span>
        <span *ngIf="passWord?.errors?.['minlength']">Password should have a minimum of 8 characters</span>
      </div>

      <!-- Sign Up Link -->
      <div class="d-flex justify-content-end mt-3">
        <p>Need an Account? <a (click)="signup()" class="text-primary">Sign Up</a></p>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-center my-4">
        <button class="btn btn-success w-75" type="submit" [disabled]="loginForm.invalid">LOGIN</button>
      </div>

     <!-- Error Message Display -->
<div class="text-center text-danger">
  <span>{{error}}</span>
</div>
    </form>
  </div>
</div>
