<div>
    <button class="custom-btn btn-7" (click)="goback()">Back</button>
</div>

<!-- About Us Section -->
<div id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">About Us</p>
            <h2>We've been making healthy food last for 10 years</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ab eos omnis, 
                nobis dignissimos perferendis et officia architecto, fugiat possimus eaque qui ullam 
                excepturi suscipit aliquid optio, maiores praesentium soluta alias asperiores saepe 
                commodi consequatur? Perferendis est placeat facere aspernatur!
            </p>
        </div>
        <div class="about-img">
            <img src="assets/fullmeals6.jpeg" alt="food" />
        </div>
    </div>
</div>

<!-- Food Section -->
<div id="food">
    <h2>Types of Food</h2>
    <div class="food-container container">
        <div class="food-type">
            <div class="img-container">
                <img src="assets/egg-dosa.avif" alt="Dosa" />
                <div class="img-content">
                    <h3>Dosa</h3>
                    <a href="http://localhost:4200/food?id=7" class="btn btn-primary" target="_blank">View More</a>
                </div>
            </div>
        </div>
        <div class="food-type">
            <div class="img-container">
                <img src="assets/fullmeals2.avif" alt="Full Meals" />
                <div class="img-content">
                    <h3>Full Meals</h3>
                    <a href="https://www.indianhealthyrecipes.com/indian-dinner-recipes/" class="btn btn-primary" target="_blank">View More</a>
                </div>
            </div>
        </div>
        <div class="food-type">
            <div class="img-container">
                <img src="assets/veg-burger.jpg" alt="Fast Food" />
                <div class="img-content">
                    <h3>Fast Food</h3>
                    <a href="https://www.firstcry.com/intelli/articles/list-of-fast-food-fast-food-vocabulary-for-kids/" class="btn btn-primary" target="_blank">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials">
    <h2 class="testimonial-title">What Our Customers Say</h2>
    <div class="testimonial-container container">
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="Ross Lee" />
                    <p class="customer-name">Ross Lee</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                Today we sat out on the shaded patio and felt like we were having a private dining experience. Julia, our server, was friendly and attentive.
            </p>
        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="Amelia Watson" />
                    <p class="customer-name">Amelia Watson</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                Fantastic service and great food! We were so lucky to come across this gem and will definitely be back.
            </p>
        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/VkksVcL9/male-photo2.jpg" alt="Jack Howard" />
                    <p class="customer-name">Jack Howard</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                We had a fabulous meal in this little restaurant! Great prices, friendly service, and a warm atmosphere.
            </p>
        </div>
    </div>
</div>